# generic
.*.swp
.svn
.hg
.DS_Store
.gitconfig_local
.gitautofetch

# intellj
.idea
*.iml

# java
.gradle
.gradletasknamecache

# c
*.o
a.out
CMakeFiles
cmake*

# js
node_modules

# python
.envrc

# other
git-of-theseus-data

# local dotfiles gitignore
.vim/spell/en.utf-8.add.spl

# custom for specific projects
scripts/dev
