.*.swp
.svn
.hg
.DS_Store
.gitconfig_local
.gitautofetch

.idea
*.iml
.gradle
.gradletasknamecache

*.o
a.out
CMakeFiles
cmake*

node_modules
yarn.lock

git-of-theseus-data

# local dotfiles gitignore
.vim/spell/en.utf-8.add.spl
