" incremental search with case ignored
set incsearch
set ic

let mapleader = "ö"

" note to self: use :actionlist to find IDE commands to map
noremap gr :source ~/.ideavimrc<CR>
noremap gf :action ShowUsages<CR>
noremap gi :action GotoImplementation<CR>
nnoremap <leader>r :action Vcs.RollbackChangedLines<CR>
nnoremap gj :action VcsShowNextChangeMarker<CR>
nnoremap gk :action VcsShowPrevChangeMarker<CR>
nnoremap gn :action MethodDown<CR>
nnoremap gp :action MethodUp<CR>

" enable the surround plugin added in 0.46
set surround

"
" customizations from real vimrc
"
nnoremap <leader>- yyp^v$r-
nnoremap <leader>= yyp^v$r=
nnoremap <leader>* I**<Esc>A**<Esc>

noremap - mt.`tj
noremap <Cr> o<Esc>

" use Q to run the macro on q
noremap Q @q
" use K to delete without writing to register
nnoremap K "_d
nnoremap KK "_dd
vnoremap K "_d

" Don't copy the contents of an overwritten selection.
vnoremap p "_dP
