" incremental search with case ignored
set incsearch
set ic

" note to self: use :actionlist to find IDE commands to map
map gr :source ~/.ideavimrc<CR>
map gf :action FindUsages<CR>
map gi :action GotoImplementation<CR>

" enable the surround plugin added in 0.46
set surround